<div id="tipModal">
	<div id="closeTips">X</div>	
	<div id="previous"><</div>
	<div id="next">></div>
	
	<img class="activeIMG" src="/assets/tips/main.jpg">
	<img src="/images/tips/search_1.jpg">
	<img src="/images/tips/search_2.jpg">
	<img src="/images/tips/search_3.jpg">
	<img src="/images/tips/inbox.jpg">
	<img src="/images/tips/main2.jpg">
	<img src="/images/tips/add_1.jpg">
	<img src="/images/tips/add_2.jpg">
	<img src="/images/tips/home.jpg">

	
	<div id="imgTOC">
		<span class="activeimgTOC"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>

<div id="wrapper">
	<header>
		<div id="topBack"><div id="topBlock"></div></div>
		<div id="infoBar">
			<div id="tips">Tips</div>
			<div id="title">Re: <span id="greeting"></span></div>
			<div id="send">Send</div>
		</div>
	</header>

	<div id="infoBox">
		<div>
			<div id="to" class="infoBox" readonly="true">
		<span>To:</span>
		<input id="category" type="text">
		<div id="category-suggestion-container">
		</div>
	</div>
	
	<div id="subject" class="infoBox">
		<span>Subject:</span><input id="subject-input" type="text">
	</div>
	
	<div id="body">
		<textarea id="results"></textarea>
	</div>

</div>
<div id="sendSummary">
	
	<ul id="inboxHeaderWrapper">
		<li id="inboxHeader">
			<div id="returnButton">< Return</div>
			<div>Inbox</div>
			<div></div>
		</li>
		<li id="searchbox"><input type="text" placeholder="Search" /></li>
	</ul>
	<ul id="resultsSummary">
		<li class="reviewResult">
			<ul>
				<li><div class="circle"></div><h2>Bo, Bradley, Ryan, Pedro...</h2></li>
				<li><h3>Hey there</h3></li>
				<li><span>Just wanting to Check in and see</span></li>
				<li><span>Let me know if that still works for you</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><div class="circle"></div><h2>John Merishino</h2></li>
				<li><h3>Re: Meeting over Dinner</h3></li>
				<li><span>Hey, just wondering if you had time to</span></li>
				<li><span>Really looking forward to getting together</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Ima Hugefan</h2></li>
				<li><h3>Guardians of the Galaxy</h3></li>
				<li><span>Middle of the pack</span></li>
				<li><span>Chriss pratt, Other person, other person</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Gary Hensen</h2></li>
				<li><h3>Thought You'd Like This</h3></li>
				<li><span>Hello sir, how have you been, it's been</span></li>
				<li><span>After you take a look, let me know what</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Jane Crinshaw</h2></li>
				<li><h3>Re: Need your help</h3></li>
				<li><span>I actually am busy that day but would</span></li>
				<li><span>It's actually funny you asked because</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Mara Egistein</h2></li>
				<li><h3>Help a good Cause!</h3></li>
				<li><span>To whom it may concern: I'm writing you</span></li>
				<li><span>If you feel so inclined to done, please </span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Dr. Levi Mignler</h2></li>
				<li><h3>Your upcoming Appointment</h3></li>
				<li><span>This is an automated and friendly</span></li>
				<li><span>Don't hesitate to reach out with any</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Mom</h2></li>
				<li><h3>You make me so proud</h3></li>
				<li><span>I just thought of you the other day and</span></li>
				<li><span>I want you to know, you make me so</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>Cultivated Wit</h2></li>
				<li><h3>Comedy Hack Day is Nigh</h3></li>
				<li><span>Here's the info for the upcoming</span></li>
				<li><span>We'll see you there!</span></li>
			</ul>
		</li>
		<li class="reviewResult">
			<ul>
				<li><h2>WIU Helpdesk Support</h2></li>
				<li><h3>Thanks for contacting us</h3></li>
				<li><span>Here's what we recommend: 1) plug in</span></li>
				<li><span>If you can't follow those instructions.</span></li>
			</ul>
		</li>
	</ul>

</div>


