
<div id="wrapper">
	<header>
		<div id="topBack"><div id="topBlock"></div></div>
		<div id="infoBar">
			<div id="tips">Tips</div>
			<div id="title">Re: Friday Meeting</div>
			<div id="send">Send</div>
		</div>
	</header>

	<div id="infoBox">
		<div>
			<div id="to" class="infoBox" readonly="true">
		<span>To:</span>
		<input id="category" type="text">
		<div id="category-suggestion-container">
		</div>
	</div>

	<div id="ccBccFrom" class="infoBox">
		<span>CC/Bcc, From: techfan4739@gmail.com:</span>
	</div>
	
	<div id="subject" class="infoBox">
		<span>Subject:</span><input id="subject-input" type="text">
	</div>
	
	<div id="body">
		<textarea id="results">
		</textarea>
	</div>

</div>