
<div id="wrapper">
	<header>
		<div id="topBack"><div id="topBlock"></div></div>
		<div id="infoBar">
			<div id="info">Info</div>
			<div id="title">Re: Friday Meeting</div>
			<div id="send">Send</div>
		</div>
	</header>
	<div id="infoBox">
		<div>
			<div id="to">
				<span>To:</span>
				<input id="category" type="text">
				<div id="category-suggestion-container">
					<ul id="category-suggestions">
					<li>Movie Lover<br/><span class="subContact"><b>Movies</b>  movie.lover@rt.com</span></li>
					<li>Sports Fan<br/><span class="subContact"><b>Sports</b>  sportsFan600@gmail.com</span></li>
					<li></li>
					<li></li>
					</ul>
				</div>
			</div>

			<div id="ccBccFrom">
				<span>CC/Bcc, From: techfan489@gmail.com</span>
			</div>
			
			<div id="subject">
				<span>Subject:</span><input type="text">
			</div>
		</div>
	</div>
	
	<div id="body">
		<textarea id="results">
		</textarea>
	</div>

</div>