<link rel="stylesheet" type="text/css" href="normalize.css"></style>
  <style type="text/css">

  body {
  	padding: 5px;
  	background-color: #fff;
  }
  
  header {
  	background-color: #ededed;
  	padding:8px;
  	width: 100%;
  	position: fixed;
  	top:0px;
  	left: 0px;
  	border-bottom: 1px solid #bbb;
  }
  
  header div {
  	display: inline-block;
  }

  #wrapper {
  	width: 100%;
  }

  .infoBox {
  	border-top: 1px solid black;
  	/*border-bottom: 1px solid black;*/
  	padding: 5px;
  }

  #to {
  	margin-top: 34px;
  	border-top: none;
  }



  #info {

  }

  #title {
  	font-weight: bold;
  	margin-left:24%;
  }

  #send {
  	float: right;
  	margin-right: 15px;
  }


  </style>

  <div id="wrapper">
<header><div id="info">Info</div><div id="title">Re: I'm a Big Fan</div><div id="send">Send</div></header>
<div id="to" class="infoBox"><span>To:</span></div>
<div id="subject" class="infoBox"><span>Subject:</span></div>
<div id="body" class="infoBox"><span>Body:</span></div>
<div id="keyboard"><img src="#"/></div>
</div>