
<div id="wrapper">
	<header><div id="info">Info</div><div id="title">Re: I'm a Big Fan</div><div id="send">Send</div></header>
	<div id="to" class="infoBox"><span>To:</span></div>
	<div id="subject" class="infoBox"><span>Subject:</span></div>
	<div id="body" class="infoBox"><span>Body:</span></div>
	<div id="keyboard"><!--<img src="#"/>--></div>
</div>