/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
body {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 0;
	background-color: #fff;
}

#wrapper {
	width: 100%;
}

header {
	position: fixed;
	padding:0;
	width: 100%;
	left: 0px;
	top: 0px;
	font-size: 1.1em;
}


#topBack {
	background-color: #000;
	z-index: 0;
	width: 100%;
	height: 20px;
	padding-top:10px;
}


#topBlock {
	background-color: #B7B7B7;
	z-index: 0;
	width: 90%;
	height: 10px;
	margin: 0 auto;

}

#infoBar {
	z-index: 2;
	position: relative;
	top: -10px;
	height: 2em;
	padding: 3px 5px 0 5px;
	line-height: 2em;
	z-index: 9999999;
	background-color: #F3F2F3;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
}

#infoBar div {
	display: inline-block;
}

	#info {
		color: #C5C5C5;
	}

	#title {
		position: relative;
		font-weight: bold;
		left:11%;
	}

	#send {
		float: right;
		color: #4B8AEC;
	}

#infoBox {
	width: 100;
	border-top: thin solid #DCDBDD;
	font-size: .9em;
	color: #B9B9BC;
}

#infoBox > div {
	padding:0 0 0 10px;
}

#to, #ccBccFrom, #subject {
	border-top: thin solid #DCDBDD;
	/*border-bottom: 1px solid black;*/
	padding: 5px 0;
	font-size: .9em;
	color: #B9B9BC;
}

#to {
	margin-top: 61px;
	border-top: none;
}

#to input {
	width: 80%;
	border-radius: 0px;
}

#category {
	background-color:transparent;
	border:0px solid white;
	margin-left: 5px;
	border:none;
	outline: none;
	color: #000;
}


#category-suggestion-container {

	position: absolute;
	width: 93%;
	top: 87px;
	left: 0;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding: 0px 10px;
	margin: 0;


}

#category-suggestions {
	padding: 0px 10px;
	margin: 0px;
}

.subContact {
	font-size: .9em;
}



#category-suggestion-container li {

	list-style-type: none;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	padding:5px 0;
	height: 39px;

}


#ccBccFrom {
	padding: 8px 0;
}

#subject {
	border-bottom: thin solid #DCDBDD;
}

#subject input {

	margin-left: 5px;
	border:none;
	outline: none;
	color: #000;
	width: 75%;
	border-radius: 0px;

}


#body textarea {


	height: 415px;
	width: 93%;
	border-radius: 0px;
	overflow: visible;
	padding: 10px 1px;
	font-size: .9em;
	border:none;
	box-shadow: none;
	outline: none;
	resize: none;
	color: #000;


}
