<!DOCTYPE html>
<html>
<head>
  <title>HugeFan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="to"><span>To:</span></div>
<div id="subject"><span>Subject:</span></div>
<div id="body"><span>Body:</span></div>
<div id="keyboard"><img src="#"/></div>

<%= yield %>

</body>
</html>
